.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 90px 50px;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 135%;
}

.address__link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address__text {
  color: inherit;
}

.header__menu {
  display: flex;
  justify-self: center;
}

.header_links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 36px;
}

.header_links-list-item {
  font-weight: 400;
  font-size: 18px;
}

.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header_link {
  text-decoration: underline;
}

.header_link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
}

.header__logo-image {
  display: block;
}

.header__address {
  padding-left: 184px; 
}

.cover {
  position: relative;
  max-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  padding: 165px 32px 106px 24px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 28px;
  letter-spacing: 0.3rem;
  color: white;
  font-size: 100px;
  line-height: 115%;
  font-weight: 700;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover_description {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 0;
}

.cover_description-text {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.06em;
  word-spacing: normal;
  max-width: 640px;
  white-space: nowrap;
}

.bet-button {
  border: 1px solid #fff;
  background: transparent;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}


.lots__heading {
  padding-top: 180px;
  padding-bottom: 27px;
  padding-left: 64px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  
}

.lots__card-list-item {
  width: 330px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  z-index: 1;
   background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
 background-image: url("../images/card-lot-03.jpg");
  
}

.card__title {
  position: relative;
  z-index: 0;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.card__text {
  position: relative;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 0;
}

.lots__look-more-link {
  display: block;
  text-underline-offset: 1px;
  padding-top: 30px;
  color: black;
  font-weight: 400;
  font-size: 20px;
  padding-left: 64px;
}

.about {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 25px;
  align-items: start;
  padding-left: 24px;
  padding-right: 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 35px 72px 0 47px;
  justify-self: center;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  padding-top: 40px;
  padding-left: 72px;
  margin-top: 85px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 74px;
  padding-top: 0;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.about__text p {
  margin-bottom: 26px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 180px 50px 90px 50px;
}

.footer__menu {
  justify-self: center;
  text-align: center;
  margin-top: -65px;
}

.footer__address {
  margin-top: -22px;  
  margin-left: 8px;
}


.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin-top: -80px;
  margin-left: 100px;
  padding: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
