.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__menu{
  display: flex;
  justify-self: center;
}


.header_links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 36px;
}

.header_links-list-item{
  font-weight: 400;
  font-size: 18px;
}



.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header_link {
  text-decoration: underline;
}

.header_link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
}

.header__logo-image {
  display: block;

}


.header_address {
  padding-left: 184px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.address {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover__title {
  padding: 165px 50px 207px 50px;
  letter-spacing: 0.3rem;
  color: white;
  font-size: 100px;
  line-height: 115%;
  font-weight: 700;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}


.cover_description {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0px 50px 55px 78px;
}

.cover_description-text {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid white;
  background: transparent;
  font-size: 22px;
  padding: 12px 32px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}


.lots__heading {
  padding-top: 180px;
  padding-bottom: 27px;
  padding-left: 64px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  position: relative;
  z-index: 1;
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_book {
  position: relative;
  z-index: 1;
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  position: relative;
  z-index: 1;
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  z-index: 0;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.card__text {
  position: relative;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 0;
}



.lots__look-more-link {
  display: block;
  text-underline-offset: 1px;
  padding-top: 30px;
  color: black;
  font-weight: 400;
  font-size: 20px;
  padding-left: 64px;
}

.about {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  align-items: start;
  padding-left: 24px;
  padding-right: 24px;
}



.about__logo {
  width: 240px;
  height: 240px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 100px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 180px 50px 90px 50px;
}

.footer__menu {
  justify-self: center;
}

.footer__address {
  display: block;
  justify-self: start;
  text-align: left;
  font-style: normal;
}

.footer__menu-list {
  list-style: none;
}


.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.footer__social-icon {
  width: 48px;
  height: 48px;
}
